<%- include('partials/header.ejs') %>

<%- include('partials/header.ejs') %>

<div class="container">
    <img id="logo" src="images/logo.png">
    <form action="/login" method="POST">
    <div class="login-container">
        <label for="email">
            <input name="email" type="email" placeholder="Email" required >
        </label>
        <label for="password">
            <input name="password" type="password" placeholder="Password" required>
        </label><br>
        <p style="display: <%=visible%>;"><%=content%></p>
        <button type="submit" class="btn login">
            LOGIN
        </button>
    </div>
    </form>
    <form>
        <button type="submit" formaction="/register"  class="btn register">
            Register
        </button>
    </form>
</div>


<%- include('partials/footer.ejs') %>

<%- include('partials/footer.ejs') %>